.Grid {
    display: grid;
    grid-template-columns: auto repeat(7, 1fr); /* 7 columns with 1 fractional unit */
    grid-template-rows: repeat(4, auto);
    /* This property defines the number and size of rows in the grid. 
    The first row is set to "auto", which means its height will be based on its content. 
    The remaining 4 rows are set to 1 fractional unit in height. */
    gap: 8px;
    align-items: center;
  }
  
  .Header {
    /* grid-column: 2 / -1; */
    font-weight: bold;
    text-align: center;
  }
  
  .Topic {
    font-weight: bold;
    text-align: right;
    padding-right: 8px;
  }
  
  .CheckboxWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Checkbox {
    border-color: black;
    margin: 0;
  }

  .daysOfWeek {
    text-align: center;
    font-weight: bold;
  }